html, body {
    padding: 0;
    margin: 0;
}

.S1 {
    background-color: black;
    color: white;
    overflow:auto;
}

h3 {
    display: inline;
    margin-right: 60%;
    font-size: 1.5vw;
}

.nav-menu li {
   display: inline;
   margin-top: 5%;
}

.nav-bar {
    display: flex;
}


.S2 {
    background-color: white;
    color: black;
    overflow: auto;
}

.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.html {
    width: 260px;
}
.CSS {
    width: 260px;
}
.JS {
    width: 260px;
}

a {
    color: white;
    cursor:pointer;
    text-decoration:none;
    border: gray;
    border-color: gray;
    padding: 20px;
    border-radius: 5%;
}
a:hover{
background-color: lightgray;
}

.selfie {
    border-radius: 100%;
    width: 50%;
    margin: 25%;
    
}

.pic {
    /* overflow: auto;
    margin: auto; */
    background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
